*.class

# Package Files #
*.jar
*.war
*.ear

# Backup Files #

*~
*.bak

# Maven #
target/
overlays/
*.releaseBackup

# Logs #

*.log
*.err
*.out

# Git #

*.orig

# Idea Ignores #
# for reference see: https://intellij-support.jetbrains.com/entries/23393067

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
# No, we don't have a UI (yet):
.idea/uiDesigner.xml
# Maven Project, generated automatically:
.idea/libraries
# Removed in order to prevent name conflicts (username will be used to store dictionaries):
.idea/dictionaries
